<!DOCTYPE html>
<html>
<head>
  <title>TA_Pro</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
  </style>

</head>
<body>
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right" style="margin-top:5%;margin-right: 10%">
              <li role="presentation"><a href="/users/logout" style="color:#420c7a">Logout</a></li>
          </ul>
        </nav>

<ul class="nav nav-tabs" style="margin-top:5%;margin-left: 12%">
	<!-- <ul> -->
  <li class="active"><a href="#" style="color:#420c7a">Home</a></li>
  <li><a href="#" style="color:#420c7a">Menu 1</a></li>
  <li><a href="#" style="color:#420c7a">Menu 2</a></li>
  <li><a href="#" style="color:#420c7a">Menu 3</a></li>
</ul>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top: 2%;">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#" style="color:#420c7a">
                  <span data-feather="home"></span>
                  HOME <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:#420c7a">
                  <span data-feather="file"></span>
                  PROFILE
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:#420c7a">
                  <span data-feather="layers"></span>
                  COURSES
                </a>
              </li>
            </ul>

          </div>        
        </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <!-- <div style="float:right;margin-top:1%;margin-right: 80%"> -->
        <h1 class="h2" style="margin-right:-10%; color:#420c7a">Add Student</h1>
        <!-- </div> -->
        <div style="margin-top:1%;margin-right: 80%">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <div style="margin-top:5%;margin-right: 0%">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="Password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
        </div>
        <div>
        <a href="http://google.com"><button class="btn btn-lg btn-primary btn-block" type="submit" style="background: #7f00c7">Add Student</button></a>
        </div>
      </div>
      </div>
    </div>
  <!-- <main> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  </main>
<!-- </main> -->
</div>
</div>
</body>
</html>