<!DOCTYPE html>
<html>
<head>
  <title>TA_Pro</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <link rel="stylesheet" href="/css/dashboard.css" /> -->

  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
  </style>

</head>
  <div class="container">
      <div class="header clearfix">
          <ul class="nav nav-pills pull-right" style="margin-top:5%;margin-right: 10%;position: relative">
              <li><a href="/users/logout" style="color:#420c7a;position: relative">Logout</a></li>
          </ul>
      </div>
    </div>
<body>

<ul class="nav nav-tabs" style="max-width:750px;margin-top:-3%; margin-left: 19.5%; position: relative">
  <li class="active"><a href="#">Resources</a></li>
  <li><a href="/assignments" style="color:#420c7a">Assignments</a></li>
  <li><a href="/users/getassignmentsGB" style="color:#420c7a">Gradebook</a></li>
</ul>
     <div class="row">
  <img src="http://telesens-academy.com/wp-content/uploads/2016/11/cropped-TA-Logo-Violet-Background.png" width=130 height=130 style="margin-left: 4% ; margin-top: -5%;position:relative;float:left">
</div>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top: 2%;">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                                            <!-- redirect to studentmain.handlebars -->
                <a class="nav-link active" href="http://google.com" style="color:#420c7a">
                  <span data-feather="home"></span>
                  HOME <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                                              <!-- redirect to Edit_Profile_Student.handlebars -->
                <a class="nav-link" href="http://google.com" style="color:#420c7a">
                  <span data-feather="file"></span>
                  PROFILE
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" style="color:#420c7a">
                  <span data-feather="layers"></span>
                  COURSES
                </a>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
         
            <h1 class="h2 mb-3 font-weight-normal" style="margin-top: 4%;margin-left:2%; color:#420c7a; position: relative"><b>Resources </b></h1>
        
            <h1 class="h3 mb-3 font-weight-normal" style="float:left;color:#420c7a; margin-top: 2%;margin-left: 2%;max-width: 20%; position: relative">
            Resource Name</h1>
            <h1 class="h3 mb-3 font-weight-normal" style="float:left;color:#420c7a; margin-top: 2%;margin-left: 10%;max-width: 20%; position: relative">
            Date Uploaded</h1>
            <h1 class="h3 mb-3 font-weight-normal" style="float:left;color:#420c7a; margin-top: 2%;margin-left: 12.5%;max-width: 0%; position: relative">
            Time</h1>
            <!-- <div class="boxed">
              Resource Name
            </div> --> 
            <div class="panel-body" runat="server" style="clear:left;overflow-y: scroll; height: 500px; margin-right:22%; margin-top: 1%;position: relative">
              <div class="mid-width wrapItems" style="background-color:#f1f1f1; height:800px; margin-top: -0.5%; margin-left: 1%; position: relative">

                <!-- <div id="Test1" runat="server" width="100%"></div> -->
                <!-- <div id="Test2" runat="server" width="100%"></div> -->
                <div class="tab">


                  {{# each items}}
                  <a href="/users/download/{{this.resourceID}}"><button class="tablinks">
                     <div style="max-width:0%; float:left">{{this.name}}</div>
                    <div style="float:left;padding-left: 40%"><text>{{this.date}}</text></div>
                    <div style="float:left;padding-left: 26%"><text style=""></text></div></button></a>
                  {{/each}}

                </div>
              </div>
            </div>

            <!-- <span class="btn btn-lg btn-file" style="background: #7f00c7; margin-left: 67%;margin-top:5% ;color: white;position: relative">
            Add Resource <input type="file"> 
            </span> -->
        
          </div>


          <div id="head_nav">

        </main>
          

      </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    
  </body>
</html>