<!DOCTYPE html>
<html>
<head>
  <title>TA_Pro</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <link rel="stylesheet" href="/css/dashboard.css" /> -->

  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
  </style>

</head>
<body>
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right" style="margin-top:5%;margin-right: 10px" >
              <li role="presentation"><a href="/users/logout" style="color: #420c7a">Logout</a></li>
          </ul>
        </nav>
        <!-- <h3 class="text-muted">Instructor's Name</h3> -->


<ul class="nav nav-tabs" position=absolute style="margin-top:60px;margin-left:120px">
 <!--  <li class="active"><a href="#">Home</a></li>
  <li><a href="#" style="color: #420c7a">Menu 1</a></li>
  <li><a href="#" style="color: #420c7a">Menu 2</a></li>
  <li><a href="#" style="color: #420c7a">Menu 3</a></li> -->
  <div class="row">
  <img src="http://telesens-academy.com/wp-content/uploads/2016/11/cropped-TA-Logo-Violet-Background.png" width=130 height=130 style="margin-left: -15% ; margin-top: -3%;position:relative;float:left">
</div>

</ul>



      </div>
    </div>

<!--     <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Instructor's name</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">LOGOUT</a>
        </li>
      </ul>
    </nav> -->
    
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top: 2%;">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/" style="color: #420c7a">
                  <span data-feather="home"></span>
                  HOME <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile" style="color: #420c7a">
                  <span data-feather="file"></span>
                  PROFILE
                </a>
              </li>
<!--               <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li> -->
<!--               <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/courses" style="color: #420c7a">
                  <span data-feather="layers"></span>
                  COURSES
                </a>
              </li>
            </ul>

<!--             <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul> -->
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" style="color: #420c7a">Welcome Instructor!</h1>
            <h1 class="h2" style="color: #420c7a;margin-top: 2%">Schedule: </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <!-- <button class="btn btn-sm btn-outline-secondary">Export</button> -->
              <!-- </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div> -->
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="50"></canvas>
          <table width="80%" align="" style="margin-top: -2%" border=”2”>

          <div id="head_nav">

          <tr> <th>Time</th>

          <th>Monday</th>

          <th>Tuesday</th>

          <th>Wednesday</th>

          <th>Thrusday</th>

          <th>Friday</th>

          <th>Saturday</th>

          </tr>

          </div>

          <tr>

          <th>08:00 - 10:00</th>

          <td> - </td>

          <td> - </td>

          <td> - </td>

          <td> - </td>

          <td> - </td>

          <td> - </td>

          </div>

          </tr>

          <tr>

          <th>10:00 - 11:00</th>

          <td>Applied Mathematics </td>

          <td>Computer Networks</td>

          <td> - </td>

          <td>Computer Organization and Architecture</td>

          <td>Automata Theory</td>

          <td> - </td>

          </div>

          </tr>

          <tr>

          <th>11:00 - 12:00</th>

          <td>Information Theory and Coding</td>

          <td> - </td>

          <td>Computer Networks</td>

          <td>Computer Networks</td>

          <td>Automata Theory</td>

          <td> - </td>

          </div>

          </tr>

          <tr> <th>12:00 - 01:00</td>

          <td> - </th>

          <td>Information Theory and Coding</td>

          <td>Automata Theory</td>

          <td>Computer Networks</td>

          <td> - </td>

          <td>Computer Networks</td>

          </div>

          </tr>

          <tr>

          <th>01:00 - 02:00</th>

          <td>Applied Mathematics</td>

          <td>Computer Organization and Architecture</td>

          <td>Automata Theory</td>

          <td> - </td>

          <td>Information Theory and Coding</td>

          <td>Computer Networks</td> </div>

          </tr>

          <tr>

          <th>02:00 - 03:00</th>

          <td>Applied Mathematics</td>

          <td> - </td>

          <td>Automata Theory</td>

          <td> - </td>

          <td>Information Theory and Coding</td>

          <td>Computer Networks</td>

          </div>

          </tr>

          </table>

          <!-- EDIT SCHEDULE BUTTON -->

                <a href="http://google.com"><button class="btn btn-lg btn-file" style="margin-top:1%;margin-left:74%;background: #7f00c7;color:white">Edit</button></a>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <!-- <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script> -->
  </body>
</html>
